{
  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },

  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },

  "plugins": [
    "react",
    "react-redux",
    "prettier",
    "jsx-a11y",
    "flowtype",
    "react-hooks"
  ],

  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ],

  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/destructuring-assignment": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
